@charset "utf-8";

/*.hehe{*/
/*    left: 20px;*/
/*}*/

/*.oneself-div{*/
/*    margin:0px 0  100px 200px;*/
/*    float: left;*/
/*}*/

/*.oneself-img{*/
/*    width: 400px;*/
/*    height: 200px;*/
/*    display: inline-block;*/
/*    float: left;*/
/*    margin: 35px 0px 0px 100px;*/
/*}*/

/*.oneself-div>p{*/
/*    position: relative;*/
/*    top: 5px;*/
/*    left: 300px;*/
/*}*/
/*.oneself-div>div{*/
/*    height: 200px;*/
/*    margin-left:100px ;*/
/*    display: inline-block;*/
/*    float: left;*/
/*    position: relative;*/
/*    top: 30px;*/
/*}*/


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ul,ol{
	list-style: none;
}
.content{
	width: 100%;
	height: auto;
	/*margin-top: 100px;*/
}
.content .yi{
	width: 1200px;
	height: 275px;
	margin: 0 auto;
	/*background: red;*/
	display: flex;
}
.content .yi .picture{
	width: 370px;
	height: 275px;

}
.content .yi .picture img{
	width:100%;
	height: 275px;
	box-sizing: border-box;

}
.content .yi .you{
	width: 720px;
	height: 275px;
/*	background: green;*/
	margin-left: 50px;
}
.content .yi .you p{
	float: right;
	font-size: 25px;
	color: #d44d38;
}
.content .yi .you p>span{
	font-size: 14px;
}
.content .yi .you ul:nth-of-type(1){
	display: flex;
}
.content .yi .you ul:nth-of-type(1) li:nth-of-type(1){
	font-size: 18px;
	color: #000000;
	font-weight: bold;
	margin-top: 5px;
}
.content .yi .you ul:nth-of-type(1) li:nth-of-type(2){
	font-size: 14px;
	background:#b199ff ;
	line-height: 30px;
	/*padding: 8px 8px;*/
	text-align: center;
	color: #ffffff;
	font-weight: bold;
	border-radius: 2px;
	margin-left: 14px;
	width: 48px;
	height: 30px;
	}
.content .yi .you ul:nth-of-type(1) li:nth-of-type(3){
	font-size: 14px;
	background:#53cc9a ;
	/*padding: 8px 8px;*/
	line-height: 30px;
	text-align: center;
	color: #ffffff;
	font-weight: bold;
	margin-left: 14px;
	border-radius: 2px;
	width: 48px;
	height: 30px;
	}
.content .yi .you ol{
	display: flex;
	margin-top: 38px;
}
.content .yi .you ol li{
	color: #666666;
	font-weight: bold;
}
.content .yi .you ol li span{
	color: #cccccc;
	font-weight: bold;
	margin-left: 10px;
	margin-right: 10px;
}
.content .yi .you ul:nth-of-type(2){
	width: 500px;
	display: flex;
	justify-content: space-between;
	margin-top: 150px;
}
.content .yi .you ul:nth-of-type(2) li{
	width: 90px;
	height: 37px;
	background: #f2f5f7;
	color: #849aae;
	text-align: center;
	line-height: 37px;
}
.content .er{
	width: 1200px;
	height: 275px;
	margin: 50px auto;
	display: flex;
}
.content .er .picture{
	width: 370px;
	height: 275px;

}
.content .er .picture img{
	width:100%;
	height: 275px;
	box-sizing: border-box;

}
.content .er .you{
	width: 720px;
	height: 275px;
/*	background: green;*/
	margin-left: 50px;
}
.content .er .you ul:nth-of-type(1){
	display: flex;
}
.content .er .you ul:nth-of-type(1) li:nth-of-type(1){
	font-size: 18px;
	color: #000000;
	font-weight: bold;
	margin-top: 5px;
}
.content .er .you ul:nth-of-type(1) li:nth-of-type(2){
	font-size: 14px;
	background:#b199ff ;
	line-height: 30px;
	/*padding: 8px 8px;*/
	text-align: center;
	color: #ffffff;
	font-weight: bold;
	border-radius: 2px;
	margin-left: 14px;
	width:64px;
	height: 30px;
	}
.content .er .you ul:nth-of-type(1) li:nth-of-type(3){
	font-size: 14px;
	background:#53cc9a ;
	/*padding: 8px 8px;*/
	line-height: 30px;
	text-align: center;
	color: #ffffff;
	font-weight: bold;
	margin-left: 14px;
	border-radius: 2px;
	width: 48px;
	height: 30px;
	}
.content .er .you ol{
	display: flex;
	margin-top: 38px;
}
.content .er .you ol li{
	color: #666666;
	font-weight: bold;
}
.content .er .you ol li span{
	color: #cccccc;
	font-weight: bold;
	margin-left: 10px;
	margin-right: 10px;
}
.content .er .you p:nth-of-type(1){
	float: right;
	font-size: 25px;
	color: #d44d38;
}
.content .er .you p:nth-of-type(1)>span{
	font-size: 14px;
}
.content .er .you p:nth-of-type(2){
	margin-top: 20px;
	color: #666666;
}
.content .er .you p:nth-of-type(2)>span{
	color: #cccccc;
	font-weight: bold;
	margin-left: 10px;
	margin-right: 10px;
}
.content .er .you p:nth-of-type(3){
	margin-top: 25px;
	color: #666666;
}
.content .er .you ul:nth-of-type(2){
	display: flex;
	margin-top: 20px;
}
.content .er .you ul:nth-of-type(2)>li:nth-of-type(2){
	margin-left: 12px;
}
.content .er .you ul:nth-of-type(2)>li:nth-of-type(3){
	margin-left: 12px;
}
.content .er .you ul:nth-of-type(2)>li{
	color: #666666;
}
.content .er .you ul:nth-of-type(3){
	width: 500px;
	display: flex;
	justify-content: space-between;
	margin-top: 15px;;
}
.content .er .you ul:nth-of-type(3) li{
	width: 90px;
	height: 37px;
	background: #f2f5f7;
	color: #849aae;
	text-align: center;
	line-height: 37px;
}



/*.ax_default_hidden, .ax_default_unplaced{*/
/*    display: none;*/
/*    visibility: hidden;*/
/*}*/

/*#u1002 {*/
/*  border-width:0px;*/
/*  position:absolute;*/
/*  left:716px;*/
/*  top:69px;*/
/*  width:100px;*/
/*  height:36px;*/
/*  overflow:hidden;*/
/*  background-image:url('../../static/images/u988.png');*/
/*}*/

.shopcar_line{
	 height: 50px;
	 background-color: rgb(0, 101, 105);
}