{% extends 'index/base.html' %}
{% block body %}
<script>
    function generateCharts(table_schema, table_name, domID) {
        var myChart = echarts.init(document.getElementById(domID));
        $.get('/restful/relations/' + table_schema + "/" + table_name + '/', function (xml) {
            // myChart.hideLoading();
            graph = xml;
            option = {
                // tooltip: {},
                animationDuration: 1500,
                animationEasingUpdate: 'quinticInOut',
                grid: {
                    left: '10%',
                    right: '10%'
                },
                series: [
                    {
                        type: 'graph',
                        layout: 'none',
                        // layout: 'force',
                        data: graph.nodes,
                        links: graph.links,
                        roam: true,
                        focusNodeAdjacency: true,
                        itemStyle: {
                            normal: {
                                borderColor: '#fff',
                                borderWidth: 1,
                                shadowBlur: 10,
                                shadowColor: 'rgba(0, 0, 0, 0.3)'
                            }
                        },
                        category: [1, 2, 3, 4, 5, 6, 7, 8, 9],
                        label: {
                            show: false,
                            position: 'right',
                            formatter: '{b}'
                        },
                        lineStyle: {
                            color: 'source',
                            curveness: 0.4
                        },
                        emphasis: {
                            lineStyle: {
                                color: 'source',
                                width: 10
                            },
                            label: { show: false }
                        }
                    }
                ]
            };
            myChart.setOption(option);
            myChart.on('click', function (params) {
                console.log(params)
                window.location = params.data.value;
            });
        });
    }
</script>
<!-- breadcrumb start -->
<div class="breadcrumb-area">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="/index/"><i class="fa fa-home"></i> Home</a></li>
            <li class="active">CIM模型</li>
        </ol>
    </div>
</div>
<!-- breadcrumb end -->
<!-- shop-area start -->
<div class="shop-area">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-4">
                <div class="column mt-55">
                    <h2 class="title-block">一级主题</h2>
                    <div class="sidebar-widget">
                        <ul class="sidebar-menu">
                            {% for item in cim_lv1_list %}
                            <li><a href="/cim/?cim_id_lv1={{item.id}}">
                                    <img src="/static/images/menu-l/{{loop.index}}.png" alt="" />
                                    {{item.model_name}}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-sm-8">
                <div class="shop-page-bar">
                    <h2 class="page-heading mt-40">
                        <span class="cat-name">{{cim_lv1_list[cim_id_lv1 | int() -1]['model_name']}}</span>
                    </h2>
                    <span class="heading-counter" style="line-height: 22px;font-family:'Microsoft Yahei';">
                        {{cim_lv1_list[cim_id_lv1 | int() -1]['model_comment']}}
                    </span>
                    <div>
                        <div class="shop-bar" style="margin-bottom: 0px;padding-bottom:0px;">
                            <table class="table">
                                <tr>
                                    <td>
                                        <div class="selector-field f-left ml-20">
                                            <ul class="nav nav-pills">
                                                {% for item in cim_lv2_list %}
                                                <li id="{{item.theme_name_lv2}}">
                                                    <a href="/cim/?cim_id_lv1={{cim_id_lv1}}&cim_id_lv2={{item.theme_name_lv2}}"
                                                        style="font-size: 16px;">
                                                        {{item.theme_name_lv2}}

                                                    </a></li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                        <script>$("#{{cim_id_lv2}}").addClass("active");</script>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="home">
                            <div class="row">
                                {% for item in tables %}
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <div class="single-product mb-30 white-bg">
                                        <div class="product-img pt-20" style="text-align: center;">
                                            <!-- <img src="/static/images/computers2/g{{ range(1,10)|random() }}.png"
                                                    style="width:80%;height:150px;" /> -->
                                            <!-- <div id="{{item.table_name}}" style="width:100%;height:250px;"> -->
                                            <div id="{{item.table_name}}">
                                                <a href="/tables/qy_190215/{{item.table_name}}/">
                                                    <img style="height: 180px;width:70%;"
                                                        src="/static/images/electronic2/{{range(1,13)|random()}}.png"
                                                        title="{{item.table_desc}}">
                                                </a>
                                            </div>
                                            <script>
                                                // generateCharts('qy_190215', '{{item.table_name}}', '{{item.table_name}}');
                                            </script>
                                        </div>
                                        <div class="product-content product-i">
                                            <div class="pro-title">
                                                <h4><span class="glyphicon glyphicon-briefcase"></span>
                                                    <a title="{{item.table_name_ch}}"
                                                        href="/tables/qy_190215/{{item.table_name}}/">
                                                        {{ (item.table_name_ch or '无')[:14]}}</a>
                                                </h4>
                                            </div>
                                            <div class="pro-rating ">
                                                {#
                                                {% for i in range(item.down| int()) %}
                                                <a href="#"><i class="fa fa-star"></i></a>
                                                {% endfor %}
                                                #}
                                                <span class="glyphicon glyphicon-filter"></span>
                                                表类型：{{item.table_type or "空"}}
                                            </div>

                                            <div class="price-box" style="height: 40px;">
                                                <span title="{{item.table_name}}" class="price product-price">
                                                    <span class="glyphicon glyphicon-dashboard"></span>
                                                    {% if item.table_name|length() < 18 %}
                                                    {{item.table_name}}
                                                    {% else %}
                                                    {{item.table_name[:18]}}..
                                                    {% endif %}
                                                </span>
                                            </div>
                                            <div class="product-icon">
                                                <div class="product-icon-left f-left">
                                                    <a href="/tables/qy_190215/{{item.table_name}}/">
                                                        <i class="fa fa-shopping-cart"></i>查看详情
                                                    </a>
                                                </div>
                                                <div class="product-icon-right floatright">
                                                    <!-- <a href="/tables/qy_190215/{{item.table_name}}/"
                                                        data-toggle="tooltip" title="比较">
                                                        <i class="fa fa-exchange"></i></a> -->
                                                    <a href="/tables/qy_190215/{{item.table_name}}/"
                                                        data-toggle="tooltip" title="添加申请">
                                                        <i class="fa fa-heart"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            <div class="content-sortpagibar" style="text-align: center;">
                                <!-- <div class="product-count display-inline">Showing 1 - 12 of 13 items</div> -->
                                <ul class="shop-pagi selector-field display-inline">
                                    <label>请选择页码</label>
                                    <li><a
                                            href="/cim/?cim_id_lv1={{cim_id_lv1}}&cim_id_lv2={{cim_id_lv2}}&page={{page-1}}">
                                            <i class="fa fa-angle-left"></i></a>
                                    </li>
                                    <li>
                                        <select id="page" class="selector-field">
                                            {% for i in range(1,count+1) %}
                                            <option>{{i}}</option>
                                            {% endfor %}
                                        </select>
                                        <script>
                                            $('#page').val('{{page}}');
                                            $('#page').change(
                                                function () {
                                                    location.href = '/cim/?cim_id_lv1={{cim_id_lv1}}&cim_id_lv2={{cim_id_lv2}}&page=' + $('#page').val();
                                                }
                                            );
                                        </script>
                                    </li>
                                    <li><a
                                            href="/cim/?cim_id_lv1={{cim_id_lv1}}&cim_id_lv2={{cim_id_lv2}}&page={{page+1}}">
                                            <i class="fa fa-angle-right"></i></a>
                                    </li>
                                    &nbsp;<label> 共{{count}}页</label>
                                </ul>
                            </div>
                            <script>

                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- shop-area end -->

{% endblock %}